html, body {
    height: 100%;
}

#wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#content {
    display: table-row;
    height: 100%;
}

#footer p {
    margin: 0;
}

.top-margin-20 {
    margin-top: 20px;
}

#fixedElement {
    position: fixed;
    width: 15%;
}