.navbar {
    margin-bottom: 20px;
}

.table-students .id-column{
    width: 2.5%;
}

.table-students .full-name-column{
    width: 23.5%;
}

.table-students .birthday-column{
    width: 13%;
}

.table-students .phone-column{
    width: 17.5%;
}

.table-students .contacts-column{
    width: 23.5%;
}

.table-students .actions-column{
    width: 20%;
}