<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/baseLayout">
<head>
    <title>Перевод</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="top-margin-20">
        <div class="row">
            <!--/*@thymesVar id="accountList" type="ru.seryakov.accountinno.dao.model.Account"*/-->
            <form th:action="@{/transferMoney}" method="post" th:object="${accountList}">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Работа со счетами</h2>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <p><a href = "/addAccount">Открыть счет</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <p><a href = "/addMoney">Пополнить счет</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <p><a href = "/transferMoney">Сделать перевод</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <p><a href = "/closeAccount">Закрыть счет</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>