<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/baseLayout">
<head>
    <title>Перевод</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="top-margin-20">
        <div class="row">
            <!--/*@thymesVar id="accountList" type="ru.seryakov.accountinno.dao.model.Account"*/-->
            <form th:action="@{/addAccount}" method="post" th:object="${accountList}">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Перевод средств</h2>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label for="fullName" title="ФИО">ФИО</label>
                            <input id="fullName" name="fullName" title="ФИО">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label for="balance" title="Баланс">Баланс</label>
                            <input id="balance" name="balance" title="Баланс"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input name="active" hidden=true th:value="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Создать</button>
                        </div>
                    </div>
                    <div class="col-sm-9 alert alert-success" th:if="${success}" th:object="${account}"
                         th:text="'Создан счет ' + ${account.id}"></div>
                </div>
            </form>
        </div>

        <form th:action="@{/}" method="get">
            <button class="btn btn-md btn-link btn-block" type="Submit">Вернуться на страницу входа</button>
        </form>
    </div>
</div>

</body>
</html>