<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/baseLayout">
<head>
    <title>Перевод</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="top-margin-20">
        <div class="row">
            <!--/*@thymesVar id="accountList" type="ru.seryakov.accountinno.dao.model.Account"*/-->
            <form th:action="@{/transferMoney}" method="post" th:object="${accountList}">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Перевод средств</h2>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label for="accountFrom" title="Номер счета">Со счета</label>
                            <select class="form-control" name="accountFrom" id="accountFrom">
                                <option th:each="accountFrom : ${accountList}"
                                        th:text="${accountFrom.id}"
                                        th:value="${{accountFrom.id}}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label for="accountTo" title="Номер счета">На счет</label>
                            <select class="form-control" name="accountTo" id="accountTo">
                                <option th:each="accountTo : ${accountList}"
                                        th:text="${accountTo.id}"
                                        th:value="${{accountTo.id}}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label for="balance" title="Баланс">Баланс</label>
                            <input id="balance" name="value" title="Баланс"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Перевести</button>
                        </div>
                    </div>
                    <div class="col-sm-9 alert alert-success" th:if="${success}" th:object="${account}"
                         th:text="'Баланс счета ' + ${account.id} + ' составляет ' + ${account.balance}"></div>
                    <div class="col-sm-9 alert alert-danger" th:if="${error}" th:object="${account}"
                         th:text="'Ошибка перевода на счет ' + ${account.id}"></div>

                </div>
            </form>
        </div>

        <form th:action="@{/}" method="get">
            <button class="btn btn-md btn-link btn-block" type="Submit">Вернуться на страницу входа</button>
        </form>
    </div>
</div>

</body>
</html>